<form id="myForm">
    <div id="hp">
        <img src="assets/test1.jpg" alt="logo" class="uj">
   
        <h2>Order Confirmation Page : </h2>
    </div>
    <div id="form">
           <label for="email"><b> Enter Your Email Id : </b></label>
           <input type="email" placeholder="enter email-id" name="email" id="email" > <br> <br>
           <label for="phone"><b> Enter Your Contact Number : </b></label>
           <input type="tel" placeholder="enter contact number" name="phone" id="phone" > <br><br>
           <label for="address"><b> Enter Your Address : </b></label>
           <input type="text" placeholder="enter address" name="address" id="address" ><br><br>
           <label for="code"><b> Coupon Code : </b></label>
           <input type="text" name="code" id="code" placeholder="enter coupon code"><br>
           <label for="submit"></label>
           <input type="submit" value="confirm your order" id="submit" (click)="dis()" routerLink="/home"><br>
          
    </div>
</form>
